@if (isLoading) {
  <app-loader></app-loader>
} @else {
  <div class="main-container">
    <div class="dialog-header">
      <h3>{{ data.episodeName }}</h3>
    </div>

    <div class="pages-container">
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="cdk-drop-list">
        @for (page of pages; track page.id; let i = $index) {
          <div cdkDrag class="page-item">
            <app-edit-page [page]="page" [index]="i" (deletePage)="onDeletePage($event)"></app-edit-page>
          </div>
        }
      </div>
    </div>

    <div class="add-page">
      <input type="file" (change)="onFilesSelected($event)" multiple accept="image/jpeg, image/png, image/jpg" />
      <button (click)="addPages()" [disabled]="!selectedFiles.length || fileError">
        Add Pages
      </button>
      @if (fileError) {
        <div class="error">
          {{ fileError }}
        </div>
      }
    </div>
    @if (isReorderChanged) {
      <div>
        <button class="save-order-btn" (click)="saveOrder()">Save order</button>
      </div>
    }
  </div>
}
