@if (isLoading) {
  <app-loader></app-loader>
} @else {
  @if (errorMessage) {
    <div class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  } @else {
    <div class="viewer-container">
      <h2 class="episode-title">{{ episodeName }}</h2>

      <img *ngIf="pageImageUrl" [src]="pageImageUrl" alt="Page" class="page-image" />
      <p *ngIf="!pageImageUrl">{{noAvailablePages}}</p>

      <div class="controls">
        <button (click)="prevPage()">←</button>
        <input type="number" [(ngModel)]="currentPage" (change)="goToPage(currentPage)" />
        <span>/ {{ totalPages }}</span>
        <button (click)="nextPage()">→</button>
      </div>
    </div>
  }
}


