EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

FRONTEND_URL=http://localhost:4200

JWT_SECRET=
JWT_EXPIRES_IN=24h

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DATABASE_HOST=pg
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=testpass
DATABASE_NAME=comics-platform