@if (isLoading) {
  <app-loader></app-loader>
} @else if(comicSingleItem) {
  <div class="main-container">
    <div class="comic-container">
      <img [src]="comicSingleItem.coverUrl"
           [alt]="comicSingleItem.name"
           class="comic-cover" />
      <div class="comic-info">
        <h1 class="comic-title">{{ comicSingleItem.name }}</h1>
        @if (isAuthenticated && !isAuthor) {
          <div class="subscription-button">
            @if (isSubscribed) {
              <p>You are subscribed.</p>
              <button (click)="onUnsubscribe()">Unsubscribe</button>
            } @else {
              <button (click)="onSubscribe()">Subscribe</button>
            }
          </div>
        } @else if (isAuthenticated && isAuthor) {
          <div class="subscription-button">
            <p>You are the author of this comic.</p>
          </div>
        }

        <p class="comic-description">{{ comicSingleItem.description }}</p>

        <div class="comic-details">
          <p><strong>Status:</strong> {{ comicSingleItem.status === 'ongoing' ? 'Ongoing' : 'Completed' }}</p>
          <p><strong>Age rating:</strong> {{ comicSingleItem.ageRating }}</p>
          <p><strong>Year of creation:</strong> {{ comicSingleItem.createdAt }}</p>
          <p><strong>Author:</strong> {{ comicSingleItem.user }}</p>
        </div>

        <div class="comic-genres">
          <strong>Genres:</strong>
          @for (genre of comicSingleItem.genres; track genre) {
            <span class="genre-badge">
            {{ genre }}
            </span>
          }
        </div>

      </div>
    </div>
    <app-episode-list *ngIf="comicSingleItem" [comicId]="comicSingleItem.id"></app-episode-list>
    @if(errorMessage){
      <p>{{errorMessage}}</p>
    }
  </div>
}
