.comics-item {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.comics-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comics-item button {
  all: unset;
  display: block;
  width: 100%;
  height: 100%;
}

.comics-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.comics-item:hover .overlay {
  opacity: 1;
}

.comics-item h3 {
  margin: 0;
  font-size: 1.2rem;
}