.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.message {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}

p {
    padding: 20px;
    border-radius: 5px;
}

.successMessage {
    background-color: #e0ffe0;
    color: #2e7d32;
}

.errorMessage {
    background-color: #ffe0e0;
    color: #d32f2f;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    z-index: 1000;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #fff;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 12px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }