<!-- <div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
  <p>Loading...</p>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage" class="viewer-container">
  <h2 class="episode-title">{{ episodeName }}</h2>
  <img [src]="pageImageUrl" alt="Page" class="page-image" />
  
  <div class="controls">
    <button (click)="prevPage()">←</button>
    <input type="number" [(ngModel)]="currentPage" (change)="goToPage(currentPage)" />
    <span>/ {{ totalPages }}</span>
    <button (click)="nextPage()">→</button>
  </div>
</div> -->

<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
  <p>Loading...</p>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage" class="viewer-container">
  <h2 class="episode-title">{{ episodeName }}</h2>

  
  <!-- Якщо сторінка є, відобразити її -->
  <img *ngIf="pageImageUrl" [src]="pageImageUrl" alt="Page" class="page-image" />
  <p *ngIf="!pageImageUrl">{{noAvailablePages}}</p>
  
  <div class="controls">
    <!-- Стрілочка назад (якщо є попередній епізод) -->
    <button (click)="prevPage()">←</button>

    <!-- Вхід для переходу на певну сторінку -->
    <input type="number" [(ngModel)]="currentPage" (change)="goToPage(currentPage)" />

    <span>/ {{ totalPages }}</span>

    <!-- Стрілочка вперед (якщо є наступний епізод) -->
    <button (click)="nextPage()">→</button>
  </div>
</div>

