<div class="viewer-container">
    <h2 class="episode-title">{{ episodeName }}</h2>
    <img [src]="pageImageUrl" alt="Page" class="page-image" />
  
    <div class="controls">
      <button (click)="prevPage()">←</button>
      <input type="number" [(ngModel)]="currentPage" (change)="goToPage(currentPage)" />
      <span>/ {{ totalPages }}</span>
      <button (click)="nextPage()">→</button>
    </div>
  </div>


<div *ngIf="isLoading" class="loading-overlay">
<div class="spinner"></div>
<p>Loading...</p>
</div>
  