.comics-item {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.comics-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comics-item button {
  all: unset;
  display: block;
  width: 100%;
  height: 100%;
}

.comics-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.comics-item:hover .overlay {
  opacity: 1;
}

.comics-item h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Центрируем кнопки по горизонтали */
  width: 100%;
  opacity: 0;
  //transition: opacity 0.3s ease;
  gap: 10px;
}

.comics-item:hover .action-buttons {
  opacity: 1;
}

.action-btn {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 80%; /* Кнопки занимают 80% ширины */
  //transition: background-color 0.3s ease;
  font-size: 1rem;
}

.get-btn {
  background-color: #28a745; /* Зеленый для "Get" */
  color: white;
}

.get-btn:hover {
  background-color: #218838;
}

.edit-btn {
  background-color: #17a2b8; /* Голубой для "Edit" */
  color: white;
}

.edit-btn:hover {
  background-color: #138496;
}

.delete-btn {
  background-color: #dc3545; /* Красный для "Delete" */
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}
