<header>
  <nav>
    <div class="logo">
      <a href="/comics/home">Logo</a>
    </div>
    <div class="nav-links">
      <a routerLink="/comics/home">Home</a>
      <a routerLink="/comics/all-comics">All comics</a>
      <a routerLink="/comics/my-library" class="my-library">My Library</a>
    </div>
    <div class="auth-links">
      <div class="search-container-header">
        <app-search (comicSelected)="onComicSelected($event)"></app-search>
      </div>
      @if (authService.isAuthenticated()){
        <div class="notification-wrapper">
          <app-notifications></app-notifications>
        </div>
        <span>
          {{ authService.getUsername() }}
          <button id="logoutButton" (click)="logout()">Sign out</button>
        </span>
      } @else {
        <div class="buttons">
          <button routerLink="/auth/register">Sign up</button>
          <button routerLink="/auth/login">Sign in</button>
        </div>
      }
    </div>
  </nav>
</header>
