<h2>All comics</h2>
<div class="main-container">
  <div class="container">
    <div class="comics-list">
      @if(comics.length > 0){
        @for(comicItem of comics; track comicItem.id; let index = $index){
          <app-comic-item [comicItem]="comicItem"></app-comic-item>
        }
      }
      @if(comics.length < 0){
        <p class="no-comics-message">No comics available in the system.</p>
      }
    </div>
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    
    <span>Page</span>
    <input type="number" [(ngModel)]="pageInput" (keyup.enter)="goToPage()" min="1" [max]="totalPages">
    <span>by {{ totalPages }}</span>
    
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
