@if (isLoading) {
  <app-loader></app-loader>
}
<div class="container">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <h3 id="loginPage">Sign in</h3>
        @if(errorMessage){
        <div class="error-message">
            {{ errorMessage }}
        </div>
        }
        <div>
            <label for="username">Username:</label>
            <input id="username" formControlName="username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <app-auth-button label="Sign in" [disabled]="loginForm.invalid"></app-auth-button>
        <div>Don't have an account? <a href="/auth/register">Sign up</a></div>
    </form>
</div>
